@tailwind base; /* base styles */
@tailwind components; /* component styles */
@tailwind utilities; /* utility styles */


body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}

